<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title >PRODUCTOS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" defer="true" th:src="@{func.js}"></script>
<link rel="stylesheet" th:href="@{main.css}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script th:inline="javascript">
/*<![CDATA[*/
    var API_HOST = /*[[${api_host}]]*/ 'default';
    console.log(API_HOST);
/*]]>*/
</script>

</head>
<body>

<div class="container">

	<div class="row">
		<div class="col-sm-4">
			<label for="" class="form-label fw-bolder">INGRESAR VENTAS</label>
		</div>
		<div class="col"></div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<label for="combobox" class="form-label">SELECCIONAR</label>
		</div>
		<div class="col"></div>
	</div>
	<div class="row">
		<div class="col-6 col-sm-4">
			<input type="text" class="form-select" oninput='onInput()' list="combo-options" id="combobox">
			<datalist id="combo-options" name="combo-options"></datalist>
		</div>
		<div class="col-1 col-sm-4">	
			<button onClick='onClearSelected()' id="clear">X</button>
		</div>
		<div class="col-1 col-sm-4">	
			<i th:onclick="window.location.href='/carro'" class="fa badge" id="cart_amount" style="font-size:24px;border: solid blue;--bs-badge-color:#dc3545" value=0>&#xf07a;</i>
		</div>
		
	</div>
	<div class="row">
		<div class="col-sm-4">
			<label for="name" class="form-label">NOMBRE</label>
		</div>
		<div class="col">	
			<input type="text" class="form-control" id="name" readonly="true" />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<label for="isbn" class="form-label">ISBN</label>
		</div>
		<div class="col">	
			<input type="text" class="form-control" id="isbn" readonly="true" />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			EDITORIAL
		</div>
		<div class="col">	
			<input type="text" class="form-control" id="edi" readonly="true" />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			STOCK
		</div>
		<div class="col">	
			<input type="text" class="form-control" id="stock" readonly/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			PRECIO VENTA SUGERIDO
		</div>
		<div class="col">
					
			<input type="number" class="form-control currency" id="pvp" readonly/>
		</div>
	</div>
	<div class="row form-row">
		<div class="col-sm-4">
			PRECIO VENTA REAL
		</div>
		<div class="col">
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input type="number" pattern="[0-9.]+" class="form-control currency" id="pvr" placeholder="Precio Venta Real" required>
				<div class="invalid-feedback">Security code required</div>
			</div>
		</div>
	</div>
<!-- 	<div class="row"> -->
<!-- 		<div class="col-sm-4"> -->
<!-- 			COSTO DESPACHO -->
<!-- 		</div> -->
<!-- 		<div class="col">	 -->
<!-- 			<input type="text" class="form-control" id="despacho"  /> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<div class="row">
		<div class="col-sm-4">
			CLIENTE
		</div>
		<div class="col">	
			<input type="text" id="cliente" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			CANTIDAD
		</div>
		<div class="col">	
			<select class="form-select" id="cantidad">
				<option selected value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			VENDEDOR
		</div>
		<div class="col">	
			<select class="form-select" id="salesman">
				<option selected value="Marco">Marco</option>
				<option value="Will">Will</option>
			</select>
		</div>	
	</div>
	<div class="row">
		<div class="col-sm-4">
			
		</div>
		<div class="col">	
			<hr class="my-4">
			<button type="submit" class="w-100 btn btn-primary btn-lg" placeholder="GUARDAR"  value="GUARDAR" onclick="guardar()"/>GUARDAR</button>
		</div>	
	</div>
	
	
	<input type="hidden" id="nombreCorto" class="hidden" />
	<input type="hidden" id="despacho" class="hidden" />
	despacho
	<!-- <table>		
		<tr>
			<td>SELECCIONAR</td>
			<td>
			<input type="text" oninput='onInput()' list="combo-options" id="combobox">
			    <datalist id="combo-options" name="combo-options">
			    </datalist>
			</td>
			<td><button onClick='onClearSelected()' id="clear">X</button></td>
		</tr>
		<tr>
			<td>NOMBRE</td>
			<td><input type="text" id="name" readonly="true" /></td>
		</tr>
		<tr>
			<td>ISBN</td>
			<td><input type="text" id="isbn" readonly="true" /></td>
		</tr>
		<tr>
			<td>EDITORIAL</td>
			<td><input type="text" id="edi" readonly="true" /></td>
		</tr>
		
		<tr>
			<td>NOMBRE</td>
			<td><input id="nombre" name="nombre" onkeyup="keyup()"/></td>
		</tr>
		
		<tr>
			<td>STOCK</td>
			<td><input type="text" id="stock" readonly/></td>
		</tr>
		<tr>
			<td>PRECIO VENTA PISO</td>
			<td><input type="text" id="pvp" readonly/></td>
		</tr>
		<tr>
			<td>PRECIO VENTA REAL</td>
			<td><input type="text" id="pvr"/></td>
		</tr>
		<tr>
			<td>COSTO DESPACHO</td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td>CANTIDAD</td>
			<td>
			<select id="cantidad">
				<option selected value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select></td>
			<td><input type="text" id="cantidad" /></td>
		</tr>
		<tr>
			<td>VENDEDOR</td>
			<td>
			<select id="salesman">
				<option selected value="Marco">Marco</option>
				<option value="Will">Will</option>
			</select>
		</tr>
		<tr>
			<td></td>
			<td><input type="button" placeholder="GUARDAR"  value="GUARDAR" onclick="guardar()"/></td>
		</tr>
	</table> -->
</div>

</body>
</html>