<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title >Ventas</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" defer="true" th:src="@{func.js}"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div class="container">

	
	<div class="row border">
		<div class="col-3 col-sm-2">
			<label for="" class="form-label fw-bolder">FECHA</label>
		</div>
		<div class="col-3 col-sm-2">
			<label for="" class="form-label fw-bolder">NUM ORDEN</label>
		</div>
		<div class="col-2 col-sm-2">
			<label for="" class="form-label fw-bolder">TOTAL</label>
		</div>
		<div class="col-2 col-sm-2">
			<label for="" class="form-label fw-bolder">VENDEDOR</label>
		</div>
	</div>

	<div class="row border" th:each="venta : ${lv}">
		<div class="col-3 col-sm-2">
			<span th:text="${#dates.format(venta.created, 'dd-MM-yy HH:mm')}"> Author </span>
		</div>
		<div class="col-3 col-sm-2">
			<span th:text="${venta.orderId}"> Author </span>
		</div>
		<div class="col-2 col-sm-4">
			<span th:text="${venta.total}"> Title </span>
		</div>
		<div class="col-2 col-sm-2">
			<span th:text="${venta.vendedor}"> Author </span>
		</div>
		
		
	</div>
    <div class="row border">
		<div class="col-3 col-sm-2">
			<label>VENTAS TOTALES</label><span th:text="${ventasTotales}"> Title </span>
		</div>
		
	</div>
    
	
	<!-- <table>		
		<tr>
			<td>SELECCIONAR</td>
			<td>
			<input type="text" oninput='onInput()' list="combo-options" id="combobox">
			    <datalist id="combo-options" name="combo-options">
			    </datalist>
			</td>
			<td><button onClick='onClearSelected()' id="clear">X</button></td>
		</tr>
		<tr>
			<td>NOMBRE</td>
			<td><input type="text" id="name" readonly="true" /></td>
		</tr>
		<tr>
			<td>ISBN</td>
			<td><input type="text" id="isbn" readonly="true" /></td>
		</tr>
		<tr>
			<td>EDITORIAL</td>
			<td><input type="text" id="edi" readonly="true" /></td>
		</tr>
		
		<tr>
			<td>NOMBRE</td>
			<td><input id="nombre" name="nombre" onkeyup="keyup()"/></td>
		</tr>
		
		<tr>
			<td>STOCK</td>
			<td><input type="text" id="stock" readonly/></td>
		</tr>
		<tr>
			<td>PRECIO VENTA PISO</td>
			<td><input type="text" id="pvp" readonly/></td>
		</tr>
		<tr>
			<td>PRECIO VENTA REAL</td>
			<td><input type="text" id="pvr"/></td>
		</tr>
		<tr>
			<td>COSTO DESPACHO</td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td>CANTIDAD</td>
			<td>
			<select id="cantidad">
				<option selected value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select></td>
			<td><input type="text" id="cantidad" /></td>
		</tr>
		<tr>
			<td>VENDEDOR</td>
			<td>
			<select id="salesman">
				<option selected value="Marco">Marco</option>
				<option value="Will">Will</option>
			</select>
		</tr>
		<tr>
			<td></td>
			<td><input type="button" placeholder="GUARDAR"  value="GUARDAR" onclick="guardar()"/></td>
		</tr>
	</table> -->
</div>

</body>
</html>